:root {
  --primary: deeppink;
  --secondary: #48f2e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: black;
  color: white;
  font-family: 'Roboto', Arial, Helvetica;
  -webkit-font-smoothing: antialiased;
}

#background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

header {
  position: relative;
}
header::after {
  content: '';
  position: absolute;
  width: 10em;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 20, 147, 0), deeppink, rgba(255, 20, 147, 0));
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

label,
#result,
h1,
h3 {
  margin: 10px 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

#form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 50vw, 600px);
}

.input-group {
  align-items: center;
  margin: 10px 0;
  width: 90%;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

#result {
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  height: 30px;
}

#result mark {
  background-color: deeppink;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
}

@media screen and (max-width: 768px) {
  header::after {
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 20, 147, 0), var(--secondary), rgba(255, 20, 147, 0));
  }

  #result mark {
    background-color: var(--secondary);
  }
}
@media screen and (max-width: 530px) {
  .container {
    height: unset;
    margin-top: 1rem;
  }
}
