* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: black;
  color: white;
  font-family: 'Roboto', Arial, Helvetica;
  -webkit-font-smoothing: antialiased;
}

#background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

label,
#result,
h1,
h3 {
  margin: 10px 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

#form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 50vw, 600px);
}

.input-group {
  align-items: center;
  margin: 10px 0;
  width: 90%;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

#result {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  height: 30px;
}
